<!doctype html>
<html class="no-js" lang="ES">
<head>
<title>WASSER/Carrito</title>    
  <%- include('./partials/head') %>     
</head>    
<body>
  <%- include('./partials/preloader') %>
<header>
  <%- include('./partials/header') %>
</header>   

<main>

  <body class="bg-light">
  <div class="container">
  <div class="py-5 text-center">
  
 
  <p class="lead">A continuación se muestra un formulario de pago.
    Por favor complete y verifique que los datos sean correctos ANTES de Seleccionar la opcion de "Finalizar Compra"</p>
</div>

<div class="row">
  <div class="col-md-4 order-md-2 mb-4">
    <h4 class="d-flex justify-content-between align-items-center mb-3">
      <span class="text-muted">Su compra</span>
      <span class="badge badge-secondary badge-pill">3</span>
    </h4>
    <ul class="list-group mb-3">
      <li class="list-group-item d-flex justify-content-between lh-condensed">
        <div>
          <h6 class="my-0">Primer Producto</h6>
          <small class="text-muted">Breve Descripcion</small>
        </div>
        <span class="text-muted">$xxxx</span>
      </li>
      <li class="list-group-item d-flex justify-content-between lh-condensed">
        <div>
          <h6 class="my-0">Segundo Producto</h6>
          <small class="text-muted">Breve Descripcion</small>
        </div>
        <span class="text-muted">$xxxx</span>
      </li>
      <li class="list-group-item d-flex justify-content-between lh-condensed">
        <div>
          <h6 class="my-0">Tercer Producto</h6>
          <small class="text-muted">Breve Descripcion</small>
        </div>
        <span class="text-muted">$xxxx</span>
      </li>
      <li class="list-group-item d-flex justify-content-between bg-light">
        <div class="text-success">
          <h6 class="my-0">Codigo Promocional</h6>
          <small>Ejemplo: XXXXXX</small>
        </div>
        <span class="text-success">-$xxxx</span>
      </li>
      <li class="list-group-item d-flex justify-content-between">
        <span>Total (USD/AR/€)</span>
        <strong>$xxxx</strong>
      </li>
    </ul>

    <form class="card p-2">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Codigo Promocional">
        
        <div class="input-group-append">
          
          <button type="submit" class="btn2 btn-secondary">ENVIAR</button>
        </div>
      </div>
    </form>
  </div>
  <div class="col-md-8 order-md-1">
    <h4 class="mb-3">Datos del Cliente</h4>
    <form class="needs-validation" novalidate>
      <div class="row">
        <div class="col-md-6 mb-3">
          <label for="firstName">Nombres</label>
          <input type="text" class="form-control" id="firstName" placeholder="" value="" required>
          <div class="invalid-feedback">
            Completar este campo es OBLIGATORIO
          </div>
        </div>
        <div class="col-md-6 mb-3">
          <label for="lastName">Apellidos</label>
          <input type="text" class="form-control" id="lastName" placeholder="" value="" required>
          <div class="invalid-feedback">
            Completar este campo es OBLIGATORIO
          </div>
        </div>
      </div>

      <div class="mb-3">
        <label for="username">Nombre de Usuario en WASSER</label>
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text">@</span>
          </div>
          <input type="text" class="form-control" id="username" placeholder="Nombre de Usuario" required>
          <div class="invalid-feedback" style="width: 100%;">
            Completar este campo es OBLIGATORIO
          </div>
        </div>
      </div>

      <div class="mb-3">
        <label for="email">Email <span class="text-muted">(OBLIGATORIO)</span></label>
        <input type="email" class="form-control" id="email" placeholder="mimail@ejemplo.com">
        <div class="invalid-feedback">
          Completar este campo es OBLIGATORIO
        </div>
      </div>

      <div class="mb-3">
        <label for="address">Domicilio</label>
        <input type="text" class="form-control" id="address" placeholder="1234, micalle, mi municipio" required>
        <div class="invalid-feedback">
          Completar este campo es OBLIGATORIO
        </div>
      </div>

      <div class="mb-3">
        <label for="address2">Domicilio 2 <span class="text-muted">(Opcional)</span></label>
        <input type="text" class="form-control" id="address2" placeholder="Departamento o Oficina">
      </div>

      <div class="row">
        <div class="col-md-5 mb-3">
          <label for="country">Pais</label>
          <select class="custom-select d-block w-100" id="country" required>
            <option value="">Elige...</option>
            <option>Argentina</option>
            <option>y ver si ponemos</option>
            <option>Ootros paises muchaches vamo pongamono la pila e ee</option>
           
          </select>
          <div class="invalid-feedback">
            Por favor, seleccione un campo
          </div>
        </div>
        <div class="col-md-4 mb-3">
          <label for="state">Municipio</label>
          <select class="custom-select d-block w-100" id="state" required>
            <option value="">Elige...</option>
            <option>Buenos Aires</option>
            <option>y</option>
            <option>sumar</option>
            <option>las demas provincias</option>

          </select>
          <div class="invalid-feedback">
            
          </div>
        </div>
        <div class="col-md-3 mb-3">
          <label for="zip">Codigo Postal</label>
          <input type="text" class="form-control" id="zip" placeholder="Codigo Postal" required>
          <div class="invalid-feedback">
            Codigo Postal es Requerido.
          </div>
        </div>
      </div>
      <hr class="mb-4">
      <div class="custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input" id="same-address">
        <label class="custom-control-label" for="same-address">La direcciòn de envio es la misma de mi actual domicilio</label>
      </div>
      <div class="custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input" id="save-info">
        <label class="custom-control-label" for="save-info">Guardar esta informacion para futuras compras</label>
      </div>
      <hr class="mb-4">

      <h4 class="mb-3">Forma de Pago</h4>

      <div class="d-block my-3">
        <div class="custom-control custom-radio">
          <input id="credit" name="paymentMethod" type="radio" class="custom-control-input" checked required>
          <label class="custom-control-label" for="credit">Tarjeta de Credito</label>
        </div>
        <div class="custom-control custom-radio">
          <input id="debit" name="paymentMethod" type="radio" class="custom-control-input" required>
          <label class="custom-control-label" for="debit">Tarjeta de Debito</label>
        </div>
        <div class="custom-control custom-radio">
          <input id="paypal" name="paymentMethod" type="radio" class="custom-control-input" required>
          <label class="custom-control-label" for="paypal">Mercado Pago / Pago Facil / Rapi Pago</label>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 mb-3">
          <label for="cc-name">Nombre que aparece en tarjeta</label>
          <input type="text" class="form-control" id="cc-name" placeholder="" required>
          <small class="text-muted">Nombre que aparece en tarjeta es requerido</small>
          <div class="invalid-feedback">
            Name on card is required
          </div>
        </div>
        <div class="col-md-6 mb-3">
          <label for="cc-number">Numero de Tarjeta de Credito</label>
          <input type="text" class="form-control" id="cc-number" placeholder="" required>
          <div class="invalid-feedback">
            Numero de Tarjeta de Credito requerido
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3 mb-3">
          <label for="cc-expiration">Vencimiento</label>
          <input type="text" class="form-control" id="cc-expiration" placeholder="" required>
          <div class="invalid-feedback">
           Fecha de Vencimiento requerido
          </div>
        </div>
        <div class="col-md-3 mb-3">
          <label for="cc-cvv">CVV</label>
          <input type="text" class="form-control" id="cc-cvv" placeholder="" required>
          <div class="invalid-feedback">
            Codigo de Seguridad Requerido
          </div>
        </div>
      </div>
      <hr class="mb-4">
      <button class="btn2 btn-primary btn-lg btn-block" type="submit">Finalizar Compra</button>
    </form>
  </div>
</div>

</main>

<footer>
  <%- include('./partials/footer') %>
</footer>           

  <%- include('./partials/scripts') %>  

</body>
</html>