<!doctype html>
<html class="no-js" lang="ES">
<head> 
    <title>WASSER/EDITAR</title>
    <%- include('./partials/head') %> 
</head>
  
<body>
    <%- include('./partials/preloader') %>
  <header>
    <%- include('./partials/header') %>
  </header>  

<main>  
       
    <div class="form-register2">
        <h4>Editar producto (Admin)</h4>
        <% dbProducts.forEach(products => { %>
            <% if (products.id == idProducto) { %>
          <form method="POST" action="/productos/EditarProducto/<%= products.id %>?_method=PUT" enctype="multipart/form-data">
          
        <input class="controlls2" type="" name="nombre"  placeholder="Nombre producto" value="<%= products.nombre %> " required>

        
        <input class="controlls2" type="" name="precio" placeholder="Precio" value="<%= products.precio %> " required>      
        
        <label for="Categorias"></label>
            <select name="id_category" class="controlls2">
                <% if (products.id_categoria == "baño") { %>                
                <option value="baño">Griferia Baño</option>
                <% } else if (products.id_categoria == "cocina") { %>
                <option value="cocina">Griferia Cocina</option>
                <% } else if (products.id_categoria == "bachas") { %>
                <option value="bachas">Bachas</option>
                <% } else if (products.id_categoria == "sanitarios") { %>
                <option value="sanitarios">Sanitarios</option>
                <% } else if (products.id_categoria == "bañeras") { %>
                <option value="bañeras">Bañeras y Duchas</option>
                <% } else { %>
                <option value="accesorios">Accesorios Varios</option> 
                <% } %>
                <option value="baño">Griferia Baño</option>
                <option value="cocina">Griferia Cocina</option>
                <option value="bachas">Bachas</option>
                <option value="sanitarios">Sanitarios</option>
                <option value="bañeras">Bañeras y Duchas</option>
                <option value="accesorios">Accesorios Varios/option>
            </select>
        <h3>Agregue 1 imagen</h3>
        <input class="controlls2"  type="file" name="imagenes" value="<%= products.imagenes %> ">

      </label>
        <label for="controlls2"></label>    
        <div class="botons">
          <label for="exampleFormControlTextarea1">Descripción</label>
          <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="description"><%= products.descripcion %></textarea>
      </div>
                   
      <div class="mt-5 mr-5 d-flex justify-content-center">
        <button type="submit" class="btn btn-outline-primary">Guardar</button></div>
        <p class="pull-left copyright backgroun"> <a href="/productos">Cancelar</a></li></p>
       
    </form>
    <% } %>
    <% }) %>    
  </div>

</main>

<footer>
    <%- include('./partials/footer') %>
  </footer>           
  
    <%- include('./partials/scripts') %>  
  
  </body>
  </html>