<!doctype html>
<html class="no-js" lang="ES">
<head>
     <title>WASSER/Log in</title>
     <%- include('./partials/head') %>     
    </head>    
    
    <body>
      <%- include('./partials/preloader') %>
    
    <header>
      <%- include('./partials/header') %>
    </header>

    <main>
    <section class="form-register2">
        <a href:""> <h4>Iniciar Sesión</h4></a>
        <input class="controlls2" type="email" name="correo" id="correo" placeholder="Ingrese su Correo" required>
        <input class="controlls2" type="password" name="contraseña" id="contraseña" placeholder="Ingrese su Contraseña" required>   
        <section class="form-register">
            
            
            
             <input class="botons" type="submit" value="Iniciar Sesión">
             <p><a href="/recuperar">Olvide mi contraseñá</a></p>
        
    </section>

    </main>

    <footer>
        <%- include('./partials/footer') %>
    </footer>           
        <%- include('./partials/scripts') %>  
    </body>
    </html>
      
     


                            
    

    