
<!doctype html>
<html class="no-js" lang="ES">
<head><title>WASSER/Producto</title>
  <%- include('./partials/head') %>     
</head>    

<body>
  <%- include('./partials/preloader') %>

<header>
  <%- include('./partials/header') %>
</header> 

<main>
  <div class="container">    
    <div class="row">
      <div class="col-sm-12">
        <div class="panel-body"><a href=""><img src="/stylesheets/img/categoria/espacio1.png" class="img-responsive" style="width:100%" alt="Image"></a></div>
      </div>
    </div>
  </div>

  
  <div class="container">    
    <div class="row">
      <div class="col-lg-6">
        
              <img src="/stylesheets/img/items/piazza emblen2.png" class="d-block w-100" alt="...">
            
        </div>
      
          <!-- /.col-lg-8 -->
          <div class="col-lg-6">
            <h1 class="font-weight-light">Grifo de cocina monocomando Piazza Emblem 10012 cromo cromado</h1>
            <h2>$2.729</h2>
            <label for="cantidad"><b>Color: </b></label>
            <select name="cantidad" id="cantidad">
                <option value="">Seleccione un color </option>
                <option value="1">Plateado</option>
                <option value="2">Dorado</option>
                <option value="3">Negro</option>
            </select>
            <p>Diseño de vanguardia, funcional y práctico El control monocomando es un sistema moderno, durable y de fácil instalación. 
            
              Consumo inteligente
              Con tecnología de avanzada, este grifo incorpora un cierre cerámico, que ayuda a reducir el consumo de agua y requiere un mínimo mantenimiento. Cuidá tu economía y colaborá con el cuidado del ambiente.</p>
            <label for="cantidad"><b>cantidad: </b></label>
            <select name="cantidad" id="cantidad">
                <option value="">Seleccione cantidad</option>
                <option value="1">1</option>
                <option value="1">2</option>
                <option value="1">3</option>
            </select>
              <div class="container">    
    <div class="row">
      <div class="col-sm-12">
        <div class="panel-body"><a href=""><img src="/stylesheets/img/categoria/espacio1.png" class="img-responsive" style="width:100%" alt="Image"></a></div>
      </div>
    </div>
  </div>
          </div>
          <!-- /.col-md-4 -->
        </div>
      </div>
        <!-- /.row -->
        <div class="container">    
          <div class="row">
            <div class="col-sm-12">
              <a class="btn2 btn-primary" href="/carrito">Añadir al carrito</a>
            </div>
          </div>
        </div>
        <div class="container">    
          <div class="row">
            <div class="col-sm-12">
              <div class="panel-body"><a href=""><img src="/stylesheets/img/categoria/espacio1.png" class="img-responsive" style="width:100%" alt="Image"></a></div>
            </div>
          </div>
        </div>

        <!-- Call to Action Well -->
        <h3>Descripcion Tecnica</h3>
        <div class="container">
          <h3 class="font-weight-light"> 
            </h3>
          <div class="card-body">
            <p class="text-white m-0">
              
            </p>
          </div>
        </div>

     
        <!-- Content Row -->
        <div class="row">
          <div class="col-md-4 mb-5">
            <div class="card h-100">
              <div class="card-body">
                <h2 class="card-title">Caracteristicas principales</h2>
                <p class="card-text">
                  <p>	Piazza</p>
                  <p>Línea: Emblem</p>
                  <p>Modelo:	10012</p>
                <p>Color:	Cromo</p>
                  <p>Acabado:	Cromado</p>
              </div>
              
            </div>
          </div>
          <!-- /.col-md-4 -->
          <div class="col-md-4 mb-5">
            <div class="card h-100">
              <div class="card-body">
                <h2 class="card-title">Otras Caracteristicas</h2>
                <p class="card-text">
                  <p> de control de la canilla: Monocomando</p>
                  <p>Materiales: Metal</p>
                  <p>Lugar de colocación: Mesada</p>
                  <p>Incluye aireador: Sí</p>
                  
              </div>
              
            </div>
          </div>
          <!-- /.col-md-4 -->
          
            <div class="col-md-4 mb-2">
              <div class="card h-100">
                <div class="card-body">
                  <h2 class="card-title">Tambien puede interesarte</h2>
                  <a href="/producto"><img src="https://http2.mlstatic.com/griferia-canilla-monocomando-lavatorio-de-bano-fiting-shop-D_NQ_NP_848355-MLA40290886792_122019-F.webp" class="img-responsive" style="width:100%" alt="Image"></a>
                  </div>
              </div>
          
                
              </div>
            </div>
              
            </div>
          </div>
          <!-- /.col-md-4 -->
        </div>
        <!-- /.row -->
    
      </div>
  </main>
  <footer>
        <%- include('./partials/footer') %>
  </footer>           
        <%- include('./partials/scripts') %>  
  </body>
  </html>
      
     