<!doctype html>
<html class="no-js" lang="ES">

<%- include('./partials/head') %>     

<body>

<%- include('./partials/preloader') %>

<%- include('./partials/header') %>

<main>
  
  <div class="container">    
    <div class="row">
           
      <div class="col-sm-12">
        <div class="panel-body"><a href=""><img src="/stylesheets/img/categoria/espacio1.png" class="img-responsive" style="width:100%" alt="Image"></a></div>
      </div>
    </div>
  </div>

  
  <div class="container">    
    <div class="row">
      <% producto.forEach(producto => { %>
        
      <div class="col-lg-6">
        
              <img src="<%- producto.image %>" class="d-block w-100" alt="...">
            
        </div>
      
          <!-- /.col-lg-8 -->
          <div class="col-lg-6">
            <h1 class="font-weight-light"><%- producto.name %></h1>
            <h2>$<%- producto.price %></h2>
            <label for="cantidad"><b>Color: </b></label>
            <select name="cantidad" id="cantidad">
                <option value="">Seleccione un color </option>
                <option value="1"><%- producto.colors %></option>
                <option value="2"><%- producto.colors2 %></option>
                <option value="3"><%- producto.colors3 %></option>
            </select>
            <p><%- producto.description %></p>
            <label for="cantidad"><b>cantidad: </b></label>
            <select name="cantidad" id="cantidad">
                <option value="">Seleccione cantidad</option>
                <option value="1">1</option>
                <option value="1">2</option>
                <option value="1">3</option>
            </select>
            
              <div class="container">    
    <div class="row">
      <div class="col-sm-12">
        <div class="panel-body"><a href=""><img src="/stylesheets/img/categoria/espacio1.png" class="img-responsive" style="width:100%" alt="Image"></a></div>
      </div>
    </div>
  </div>
          </div>
          <!-- /.col-md-4 -->
        </div>
      </div>
        <!-- /.row -->
        <div class="container">    
          <div class="row">
            <div class="col-sm-12">
              <a class="btn2 btn-primary" href="/carrito">Añadir al carrito</a>
              
            </div>
          </div>
        </div>
        <div class="container">    
          <div class="row">
            <div class="col-sm-12">
              <div class="panel-body"><a href=""><img src="/stylesheets/img/categoria/espacio1.png" class="img-responsive" style="width:100%" alt="Image"></a></div>
            </div>
          </div>
        </div>

        <!-- Call to Action Well -->
        <h3>Te puede interesar</h3>
        <div class="container">
          <h3 class="font-weight-light"> 
            </h3>
          <div class="card-body">
            <p class="text-white m-0">
              
            </p>
          </div>
        </div>

     
        <!-- Content Row -->
        
          
            <div class="col-md-4 mb-2">
              <div class="card h-100">
                <div class="card-body">
                  <h2 class="card-title">Tambien puede interesarte</h2>
                  
                  <a href="/productos/<%= producto.category %>/<%- producto.id +1 %>"><img src="<%- producto.next %>" class="img-responsive" style="width:100%" alt="Image"></a>
                  </div>
              </div>
              <% }) %>
                
              </div>
            </div>
              
            </div>
          </div>
          <!-- /.col-md-4 -->
        </div>
        <!-- /.row -->
    
      </div>



</main>

<footer>
    <%- include('./partials/footer') %>
</footer>           
    <%- include('./partials/scripts') %>  
</body>
</html>






<!--<div class="container">    
    <div class="row">
      <% producto.forEach(producto => { %>            
        <div class="col-sm-3">
          <div class="panel panel-primary">
            <div class="panel-heading"><%- producto.name %>  </div>
            <div class="panel-body"><a href="/productos/<%= producto.category %>/<%= producto.id %>"><img src="<%- producto.image %> " class="img-responsive" style="width:100%" alt="Image"></a></div>
            <div class="panel-footer">$<%- producto.price %> </div>
            <div class="d-flex justify-content-end">
             
          </div>    
            <div class="panel-footer">.</div>
          </div>
        </div>
          <% }) %>
     </div>
  </div>     
      
      
     -->