<!doctype html>
<html class="no-js" lang="zxx">
<head>    
<title>WASSER/Recuperarar pass</title>
<%- include('./partials/head') %>     
</head>    

<body>
  <%- include('./partials/preloader') %>

<header>
  <%- include('./partials/header') %>
</header>

<main>
    <section class="form-register2">
        <h4>Olvide mi contraseña</h4>
        <input class="controlls2" type="email" name="correo" id="correo" placeholder="Ingrese su Correo" required>
       <section class="form-register">
        <p><a input class="botons" type="submit" href="/">Recuperar</a></p>    
       </section>    
    </section>        
</main>

<footer>
      <%- include('./partials/footer') %>
</footer>           
      <%- include('./partials/scripts') %>  
</body>
</html>
    
                
             
        
    


    










    
       
 
        
    

    