<!doctype html>
<html class="no-js" lang="zxx">

<head>
    <title>WASSER/Sign in</title>
    <%- include('./partials/head') %>
</head>

<body>
    <%- include('./partials/preloader') %>

    <header>
        <%- include('./partials/header') %>
    </header>

    <main>
        <br>
        <h1>Listado de usuarios registrados/perfiles a completar</h1>

    </main>

    <footer>
        <%- include('./partials/footer') %>
    </footer>
    <%- include('./partials/scripts') %>
</body>

</html>