!doctype html>
<html class="no-js" lang="zxx">
<head>   
    <title>WASSER/Sign in</title>
    <%- include('./partials/head') %>     
</head>    

<body>
  <%- include('./partials/preloader') %>

<header>
  <%- include('./partials/header') %>
</header>

<main>
    <br>
<h1>Listado de usuarios registrados</h1>
<br>

  
    <table class="table table-responsive">
        
        <thead>
            <tr>
                <th>id</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Email</th>
                
           
            </tr>
        </thead>
        <tbody>
              
            <tr>
                <td></td>
                <td><%- nombre %></td> 
                <td><%- apellido %></td>
                <td><%- email %></td>
                <td><%- fecha %></td> 

                <td><%- avatar%></td> 
                <td><%- rol %></td> 
                               
                
                
            </tr>
            
        </tbody>
        
            </table>
    








</main>

<footer>
    <%- include('./partials/footer') %>
</footer>           
    <%- include('./partials/scripts') %>  
</body>
</html>





