<!doctype html>
<html class="no-js" lang="ES">
<head> 
    <title>PROXIMAMENTE EN WASSER</title>
    <%- include('./partials/head') %> 
</head>
  
<body>
    <%- include('./partials/preloader') %>
  <header>
    <%- include('./partials/header') %>
  </header>  
<br>


<main>

  <div class="col-xl-12 col-lg-12 col-md-12">
  
    <img src="/images/construccion.jpg " width="80%">
       
            
               
            
        </div>
    </div>
</div>

</main>

<footer>
    <%- include('./partials/footer') %>
  </footer>           
  <script src="/javascript/editProduct.js"></script>
    <%- include('./partials/scripts') %>  
  
  </body>
  </html>