<!doctype html>
<html class="no-js" lang="ES">

<head>
    <title>WASSER AR</title>
    <%- include('./partials/head') %>
</head>
<body >
    <%- include('./partials/preloader') %>
<header>
    <%- include('./partials/header') %>
</header>

    <main>
        
        <div class="slider-area position-relative">
            <div class="slider-active">
              
                <div class="single-slider slider-height d-flex align-items-center">
                    <div class="container">
                        <div class="row">
                            <div class="col-xl-7 col-lg-9 col-md-8 col-sm-9">
                                
                                <div class="hero__caption">
                                    <h1 data-animation="fadeInLeft" data-delay="0.2s"><span>Los mejores en grifería</span></h1>
                                    <p data-animation="fadeInLeft" data-delay="0.4s">Encontrá la mejor calidad en grifería para tu casa!</p>
                                    
                                    
                                    <p2>Desliza hacia la izquierda...</p2>
                                   
                                </div>
                            </div>
                        </div>
                    </div>          
                </div>
                <div class="single-slider slider-height d-flex align-items-center">
                    <div class="container">
                        <div class="row">
                            <div class="col-xl-7 col-lg-9 col-md-8 col-sm-9">
                                <div class="hero__caption">
                                    <h1 data-animation="fadeInLeft" data-delay="0.2s"><span>Convertite en un POWERWASSER!</span></h1>
                                    <p data-animation="fadeInLeft" data-delay="0.4s">Registrate ahora!</p>
                                    <a href="/user/registrarse" class="btn hero-btn" data-animation="fadeInLeft" data-delay="0.7s">comenzar<i class="ti-arrow-right"></i></a><br>
                                    <p2>Desliza hacia la izquierda...</p2>
                                </div>
                            </div>
                        </div>
                    </div>          
                </div>
            </div>
            
        </div>
     
        <div class="gallery-area">
            <div class="container-fluid p-0 fix">
                <div class="row no-gutters">
                    <div class="col-xl-4 col-lg-4 col-md-6">
                        <div class="single-gallery text-center">
                            <div class="gallery-img" style="background-image: url(stylesheets/img/gallery/gallery1.png);"></div>
                            <div class="thumb-content-box">
                                <div class="thumb-content">
                                    <h3>Todo para tu baño</h3>
                                    <p>Queres renovar tu cuarto de baño o ya lo hiciste y no sabes que hacer con los viejos artefactos? visita la categoria y compra y vende TODO!</p>
                                    <a href="/productos/todos">Chequea nuestros productos</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-6">
                        <div class="single-gallery no-margin text-center">
                            <div class="gallery-img" style="background-image: url(stylesheets/img/gallery/gallery2.png);"></div>
                            <div class="thumb-content-box">
                                <div class="thumb-content">
                                    <h3>Todo Para tu cocina</h3>
                                    <p>La griferia que siempre soñaste para tu cocina con una pequeña variedad de artefactos para acompañar! Tambien si tenes algo que te sobre lo podes publicar!</p>
                                    <a href="/productos/todos">Chequea nuestros productos</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-6">
                        <div class="single-gallery text-center">
                            <div class="gallery-img" style="background-image: url(stylesheets/img/gallery/gallery3.png);"></div>
                            <div class="thumb-content-box">
                                <div class="thumb-content">
                                    <h3>Pasando a ver?</h3>
                                    <p>Podes ver todos los productos de wasser en un solo lugar sin necesidad de pasarte una por una las categorias</p>
                                    <a href="/productos/todos">Todas los productos</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    
        </main>

    <footer>
        <%- include('./partials/footer') %>
    </footer>
                                
                         
                            
    
    <%- include('./partials/scripts') %>
    
    
    </body>
</html>