<!doctype html>
<html class="no-js" lang="ES">
<head>
     <title>WASSER/Log in</title>
     <%- include('./partials/head') %>     
    </head>    
    
    <body>
      <%- include('./partials/preloader') %>
    
    <header>
      <%- include('./partials/header') %>
    </header>

    <main>
    
      <article class="form-register2"> 
      
 <form action="" id="loginForm"  method="POST" >
        
        <a > <h4>Iniciar Sesión</h4></a>
        
        <div id= "errors"></div>  <!--lo agrega pio para mostrar los errores del front validation-->
        
        
                
        <input class="controlls2" type="text" name="email" id="email" aria-describedby="emailHelp" value="<%= (typeof old != 'undefined' && old.email)?old.email:'' %>" placeholder="Ingrese su Correo" >
        <small class="text-danger"><%= (typeof errors != 'undefined' && errors.email)?errors.email.msg: "" %> </small>
       

        <input class="controlls2" type="password" name="password" id="password" placeholder="Ingrese su Contraseña" >   
        <small class="text-danger"><%= (typeof errors != 'undefined' && errors.password)?errors.password.msg: "" %> </small>
        

        <div class="form-group form-check">
          <input type="checkbox" class="form-check-input" id="exampleCheck1" name="recordar">          
          <label class="form-check-label" for="exampleCheck1" style="margin-top: 10px;">Recordarme</label>
      
        </div>


        <section class="form-register">
          
        <button class="botoncito" type="submit">Iniciar</button>

           
        
            </form>
            <span id="errorEmail" class="text-danger"></span>
            <br>
            <span id="errorPass" class="text-danger"></span>
            <br>
            <span id="msgError" class="text-danger"></span>
            
        
          </article>
  
    </main>

    <footer>
        <%- include('./partials/footer') %>
    </footer>  
           
        <%- include('./partials/scripts') %>  
       <script src='/javascript/userLogin.js'></script>
    </body>
    </html>
      
     


                            
    

    