<!doctype html>
<html class="no-js" lang="ES">

<%- include('./partials/head') %>     

<body>

<%- include('./partials/preloader') %>

<%- include('./partials/header') %>

<main>
  

<br>
<br>

  
  <div class="container">    
    <div class="row">
     

        <div class="col-lg-1">
        </div>
      <div class="col-lg-4">
        
        <img src="/images/imagenProducto/<%=producto.imagenes%>" class="img-responsive" style="width:100%" alt="Imagenes"></a>
       
        </div>
        <br>
        <br>
        <div class="col-lg-1">
        </div>
          <!-- /.col-lg-8 -->
          <div class="col-lg-6">
            <h1 class="font-weight-light"><%- producto.nombre %></h1>
            <h2>$<%- producto.precio %></h2>
            <br>
        <br>
     
            <!--<label for="cantidad"><b>Color: </b></label>
            <select name="cantidad" id="cantidad">
                <option value="">Seleccione un color </option>
                <option value="1"><%- producto.colors %></option>
                <option value="2"><%- producto.colors2 %></option>
                <option value="3"><%- producto.colors3 %></option>
            </select>-->
            <p><%- producto.descripcion %></p>
        
          
            
            <br>
            <br>
            <br>
            <br>
            
          </div>
          <!-- /.col-md-4 -->
        </div>
      </div>
        <!-- /.row -->
        <br>
        <br>

        <div class="container">    
          <div class="row">
            <div class="col-sm-12">
              <a class="btn2 btn-primary" href="/">Añadir al carrito</a>
              
            </div>
          </div>
        </div>
        <br>
        <br>
        <br>
        <br>



</main>

<footer>
    <%- include('./partials/footer') %>
</footer>           
    <%- include('./partials/scripts') %>  
</body>
</html>






<!-- en javascript, no se comenta porque lo toma igual
     -->