<!doctype html>
<html class="no-js" lang="ES">
<head><title>Resultado De Busqueda</title>
  <%- include('./partials/head') %>     
</head>    

<body>
  <%- include('./partials/preloader') %>

<header>
  <%- include('./partials/header') %>
</header> 

  <main>
    <br>
    <h1>Resultados de tu busqueda son: </h1>
    <br>
    <div class="container">    
      <div class="row">
        <% products.forEach(producto => { %>            
          <div class="col-sm-3">
            <div class="panel panel-primary">
              <div class="panel-heading"><%- producto.nombre %>  </div>
              <div class="panel-body"><a href="/productos/detalle/<%= producto.id %>"><img src="/images/imagenProducto/<%=producto.imagenes %> " class="img-responsive" style="width:100%" alt="Image"></a></div> <!--tenia producto.image, y en el model es "Imagenes"-->
              <div class="panel-footer">$<%- producto.precio %> </div>
              <div class="d-flex justify-content-center">
             
              </div>    
              <div class="panel-footer">
                .
              </div>
              </div>
              </div>
              <% }) %>
              </div>
              </div>  
              <div class="container">
              <p class="pull-left copyright backgroun"> <a href="/">Volver a Wasser</a></li></p>
              <p class="pull-left copyright backgroun"> <a href="/productos/todos">Ver todos los productos</a></li></p>
              
              </div>    
  </main>           
  <footer>
        <%- include('./partials/footer') %>
  </footer>           
        <%- include('./partials/scripts') %>  
  </body>
  </html>    
  
  
                
                
            
                
            
              
              
    
    
            
 

      
     