<!doctype html>
<html class="no-js" lang="ES">
<head> 
<title>WASSER/About us</title>
<%- include('./partials/head') %>     
</head>    

<body>
  <%- include('./partials/preloader') %>

<header>
  <%- include('./partials/header') %>
</header>
    
    <main>
         <div class="gallery-area">
            <div class="container-fluid p-0 fix">
                <div class="row no-gutters">
                    <div class="col-xl-4 col-lg-4 col-md-6">
                        <div class="single-gallery text-center">
                            <div class="gallery-img" style="background-image: url(stylesheets/img/integrantes/uriel.png);"></div>
                            <div class="thumb-content-box">
                                <div class="thumb-content">
                                    <h3>LEANDRO URIEL TURRION</h3>
                                    <p>Actualmente Técnico en refrigeración y tecnico en reparador de PC , ingresante de la Unsam en la Tecnicatura en Programación Informática y con ganas de aprender todo sobre programacion con el curso de Digital House  y así poder trabajar desde su casa.
                                    </p>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-6">
                        <div class="single-gallery no-margin text-center">
                            <div class="gallery-img" style="background-image: url(stylesheets/img/integrantes/facu.png);"></div>
                            <div class="thumb-content-box">
                                <div class="thumb-content">
                                    <h3>FACUNDO GABRIEL VARA</h3>
                                    <p>Estudió Diseño gráfico en la Uba y luego Diseño y comunicacion visual en a Universidad de Lanús. Actualmete Diseñador Gráfico Freelancer y estudiando Licenciatura en Sistemas en la universidad de lanus y cursando Full Stack Developer en Digital House.</p>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-6">
                        <div class="single-gallery text-center">
                            <div class="gallery-img" style="background-image: url(stylesheets/img/integrantes/bucco.png);"></div>
                            <div class="thumb-content-box">
                                <div class="thumb-content">
                                    <h3>LEANDRO BUCCO <br> (Ex-PowerWasser)</h3>
                                    <p>Técnico reparador de PC, Instalador y administrador de Redes. Actualmente estudiante de la Universidad Nacional de San Martin en la Tecnicatura en Programacion Informatica y tambien cursando programación web full stack Developer en Digital House.
                                    </p>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Gallery Area End -->
</main>
<footer>
    <%- include('./partials/footer') %>
</footer>           
    <%- include('./partials/scripts') %>  
</body>
</html>
        
