<!doctype html>
<html class="no-js" lang="ES">
<head>   
    <title>Actualizar Perfil</title>
    <%- include('./partials/head') %>     
</head>    

<body>
  <%- include('./partials/preloader') %>

<header>
  <%- include('./partials/header') %>
</header>

<main>


 

  
  <form action="/user/updateProfile/<%= idUser %>" method="POST" enctype="multipart/form-data" id="userForm2" >
  <section class="form-register2">
    <h4>Actualizacion de Perfil</h4>
       
     <!-- NOMBRE -->

    <div>
      <label for="nombre"></label>
      <input type="text"
      class="controlls2 <%= (typeof old != 'undefined' && old.nombre)?"is-valid":(typeof errors != 'undefined' && errors.nombre)?"is-invalid": ""  %>"
      id="nombre"  name="nombre"  value="<%= nombre %>" placeholder= "Nuevo Nombre" />

         <span id="errorNombre" class="text-danger"></span>
    </div>
        
 <!-- APELLIDO -->

    <div>
      <label for="apellido"></label>
      <input type="text"
      class="controlls2 <%= (typeof old != 'undefined' && old.apellido)?"is-valid":(typeof errors != 'undefined' && errors.apellido)?"is-invalid": ""  %>"
      id="apellido" name="apellido" value=" <%= apellido %>" placeholder="ingrese un apellido" />
      
      <span id="errorApellido" class="text-danger"></span>
    </div>

 <!-- AVATAR -->

 
 <br>
 <h1>Foto de perfil actual</h1>
<h1><img src="/images/avatares/<%= avatar %>" class="img-responsive" style="width:25%" alt="Image"> </h1> 
      
    <div class="form-group col-12 ">
      
        <div class="custom-file mt-4">
          <input class="controlls2"  
          
          style= "overflow: hidden" type="file" id="customFileLang" lang="es" name="customFileLang" >
          <small class="text-danger"><%= (typeof errorFormato != 'undefined')?errorFormato: "" %></small>
          <small class="text-danger"><%= (typeof errors != 'undefined' && errores.foto)?errores.foto.msg: "" %> </small>
       
          <span id="errorFoto" class="text-danger"></span>
       
        </div>
      </div>
    </div>
    <br>
    <div class="custom-file mt-4">
      <div class="col-12">
          <div class="d-flex justify-content-center">
              <img src="" id="vistaPrevia" class="img-thumbnail" >
          </div>
      </div>
      </div>

 <!-- BASES Y CONDICIONES -->

     
    

      <div class="">
        <button href="user/perfil/<%= user.id %>" type="submit" class="">
          Actualizar
        </button>
      <span id="msgError" class="text-danger"></span>
      </div>       
        <p><a href="/">cancelar</a></p>
  </section>
</form>

<br>

<br>

</main>

<footer>
    <%- include('./partials/footer') %>
</footer>           
    <%- include('./partials/scripts') %>  
    <script src="/javascript/userEdit.js"></script>
</body>
</html>
  